<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zch.rxjava.getstarted">

    <application>
        <activity android:name=".MainActivity" />

        <activity android:name=".GetStartedActivity" />
        <activity android:name=".CreateOperatorsActivity" />
        <activity android:name=".ConvertOperatorsActivity" />
        <activity android:name=".CombinedMergeOperatorsActivity" />
        <activity android:name=".unconditional_network_request_polling.GetTranslationActivity" />
        <activity android:name=".nesting_network_request.UserActivity" />
    </application>
</manifest>